%% -*- mode: erlang; flycheck-mode: nil -*-

{erl_opts,
 [debug_info]}.

%% HACK
{overrides,
 [{add, elli_cache, [{erl_opts, [{i, "_build/test/lib"}]}]}]}.

{deps,
 [{elli_cache, "0.1.1"},
  {mimerl, "1.1.0"}]}.

{profiles,
 [{test,
   [{deps,
     [{elli, "2.0.1"},
      {meck, "0.8.4"}]}]},
  {docs,
   [{deps, [{edown, "0.8.1"}]},
    {edoc_opts,
     [
      {dir, "doc"},
      {doclet, edown_doclet},
      {overview, "doc/overview.md"},
      {doc_path,
       ["http://raw.github.com/elli-lib/elli/develop/doc",
        "http://raw.github.com/elli-lib/elli_cache/develop/doc"
       ]},
      {top_level_readme,
       {"./README.md", "https://github.com/elli-lib/elli_cache", "develop"}}
     ]}]}]}.

{post_hooks,
 %% NOTE: Assumes GNU sed on darwin
 [{"(darwin|linux|solaris|freebsd|netbsd|openbsd)", edoc,
   "sed -i 's/raw.\\(github.com\\/elli-lib\\/elli\\)/\\1\\/blob/g' doc/*.md"}]}.

{project_plugins, [{coveralls, "1.4.0"}]}.
{cover_enabled, true}.
{cover_export_enabled, true}.
{coveralls_coverdata, "_build/test/cover/eunit.coverdata"}.
{coveralls_service_name, "travis-ci"}.
